{{#resume.basics}}
	<table>
		<thead>
			<tr>
				<td colspan="2">
					PERSONAL INFORMATION
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Availability</td>
				<td>Full time</td>
			</tr>
			<tr>
				<td>Localization</td>
				<td>{{location.city}}</td>
			</tr>
		</tbody>
	</table>
{{/resume.basics}}